# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo
/.vs/CritiQuest2/CopilotIndices/17.14.734.62261
/.vs/CritiQuest2/config/applicationhost.config
/.vs/CritiQuest2/DesignTimeBuild/.dtbcache.v2
/.vs/CritiQuest2/FileContentIndex/0051caa7-7db5-4e57-bac0-ef6d66c9f600.vsidx
/.vs/CritiQuest2/FileContentIndex/3ab71b9a-54ce-4a65-bc90-42de6aa3e533.vsidx
/.vs/CritiQuest2/FileContentIndex/9252a3cf-b2a9-48db-8d53-57166c078bf7.vsidx
/.vs/CritiQuest2/FileContentIndex/b5834176-e8ac-4e06-be48-357a5070d6f5.vsidx
/.vs/CritiQuest2/v17/DocumentLayout.json
/.vs/CritiQuest2/v17/DocumentLayout.backup.json
/.vs/CritiQuest2/FileContentIndex/7a79472e-ede0-4af4-beeb-22b6b17bf9f5.vsidx
