# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo
/.vs/CritiQuest2/CopilotIndices/17.14.734.62261
/.vs/CritiQuest2/config/applicationhost.config
/.vs/CritiQuest2/DesignTimeBuild/.dtbcache.v2
